.list-item {
  padding: 20px;
  box-shadow: rgba(0, 32, 77, 0.15) 0px 1px 4px 0px;
  background-color: rgba(250, 250, 250, 0.15);
  transition: opacity 1s;
  margin-bottom: 20px;
  opacity: 1;

  p {
    color: white;
  }
  .admin {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
}